/* Navbar Styles */
.navbar {
  background-color: #f2a900 !important; /* background color: white */
  color: white !important;
  font-family: Arial, sans-serif; /* font family */
  text-align: center !important;
}

.navbar-brand,
.nav-link {
  color: #212529; /* font color */
  text-align: center !important;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #f2a900 !important; /* font color on-hover of Navbar*/
}

.form-control {
  border-color: #00a3e0 !important; /* border color for search input */
}

.btn-outline-success {
  color: #ffffff !important; /* font color for search button */
  border-color: #ffffff !important; /* border color for search button */
}

.btn-outline-success:hover {
  background-color: #f2a900 !important; /* background color on-hover for search button */
  color: #ffffff !important; /* font color on hover for search button */
  border-color: #ffffff !important;
}

/*Card Styles*/
.courses-container {
  max-width: 1600px !important;
  margin: 0 auto;
}

/* Button Styles* */
.btn {
  background-color: #72726e !important;
  text-color: #000000 !important;
  border-color: #ffffff !important;
}

.btn:hover {
  background-color: #f2a900 !important;
  color: white !important; /* Change text color to white for contrast */
  border-color: #ffffff !important;
}

/* Select Term Styles*/
.dropdown-item:focus {
  background-color: #f2a900 !important;
  color: white !important;
}

/* Department Fall Image */
.footer_fall {
  background-image: url("./Images/fall_unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  opacity: 0.8;
}

/* Department Winter Image */
.footer_winter {
  background-image: url("./Images/winter_unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  opacity: 0.8;
}
