/* Navbar Styles */
.navbar {
  background-color: #000000; /* background color: white */
  font-family: Arial, sans-serif; /* font family */
  text-align: center !important;
}

.navbar-brand,
.nav-link {
  color: #212529; /* font color */
  text-align: center !important;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #f2a900 !important; /* font color on-hover of Navbar*/
}

.form-control {
  border-color: #00a3e0 !important; /* border color for search input */
}

.btn-outline-success {
  color: #000000 !important; /* font color for search button */
  border-color: #000000 !important; /* border color for search button */
}

.btn-outline-success:hover {
  background-color: #f2a900 !important; /* background color on-hover for search button */
  color: #ffffff !important; /* font color on hover for search button */
  border-color: #ffffff !important;
}

/*Card Styles*/
.courses-container {
  max-width: 1600px !important;
  margin: 0 auto;
}
